.dashboard {
  margin-top: 5%;
}

.primaryButton {
  background-color: #0690b6;
  color: white;
  font-weight: 400;
  border-radius: 0;
  border-bottom-width: 2px;
  border-bottom-color: #262626;
}

.primaryButton:hover {
  background-color: #0681a3;
  color: white;
  font-weight: 400;
}

.documentationCard:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
}

@media only screen and (max-width: 600px) {
  .dashboard {
    width: 100% !important;
  }
}
